@import url('https://fonts.googleapis.com/css2?family=Coustard:wght@400;900&family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Coustard:wght@400;900&family=Gloria+Hallelujah&display=swap');

/* @import "tailwindcss"; */

/* @layer theme, base, components, utilities; */

@import "tailwindcss/theme.css" layer(theme);
/* @import "tailwindcss/preflight.css" layer(base); */
@import "tailwindcss/utilities.css" layer(utilities);


body {
    @apply
        flex
        flex-col
        items-center
        justify-center
        bg-[rgb(231,231,231)];
}